<section data-ng-controller="SmsController as smsCtrl" class="container">
  <form data-ng-submit="smsCtrl.sendMessage(message)"class="form-horizontal">
    <fieldset>
      <legend>New Message</legend>
      <div class="form-group">
        <label for="textArea" class="col-lg-2 control-label">Textarea</label>
        <div class="col-lg-10">
           <textarea data-ng-model="message.text" class="form-control" rows="3" id="textArea" maxlength="119"></textarea>
           <p class="text-right">{{ 119 - message.text.length + ' Char' }}</p>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <button type="reset" class="btn btn-default">Cancel</button>
          <button type="submit" class="btn btn-primary">Send</button>
        </div>
      </div>
    </fieldset>
  </form>
</section>
